

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Generador de QR</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="content-background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>GenerarQR</ion-card-title>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="generarQR()" class="rounded-button">
            Generar QR
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="escanearQR()" class="rounded-button">
            Escanear QR
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content>
      <div class="qr-container">
        <img src="assets/Imagenes/qr-code.png" alt="Código QR" class="qr-image">
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>




