<!--assets/Imagenes/qr-code.png-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Generador de QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Generador de QR</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <div class="scan-text">
    <ion-text>Escanear QR</ion-text>
  </div>

  
  <div class="qr-container">
   
    <img src="assets/Imagenes/qr-code.png" alt="Código QR" class="qr-image">
  </div>
  

  <div class="button-container">
    <ion-button expand="full" (click)="generarQR()" class="custom-button">
      Generar QR
    </ion-button>
  </div>
</ion-content>


