// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-card {
    width: 100%;
    max-width: 400px;
  }
  
  ion-card-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  .text-center {
    text-align: center;
    margin-top: 10px;
  }
  
  .text-center a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  
  ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  ion-toolbar {
    --background: var(--ion-color-light);
  }
  
  ion-title {
    color: var(--ion-color-primary);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-back-button {
    color: var(--ion-color-primary);
  }
  
  ion-toolbar {
    --background: var(--ion-color-light);
  }
  
  ion-title {
    color: var(--ion-color-primary);
  }
  
  .text-center {
    text-align: center;
    margin-top: 10px;
  }
  
  .text-center a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-toolbar {
    --background: var(--ion-color-light);
  }
  
  ion-title {
    color: var(--ion-color-primary);
  }
  
  .login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column; 
  }
  
  .form-container {
    width: 100%;
    max-width: 320px; 
    margin: 0 auto; 
    padding: 16px; 
    margin-top: 45%; 
  }
  
  ion-card {
    width: 100%;
  }
  
  ion-card-header, ion-card-content {
    padding: 16px;
  }
  
  .text-center {
    text-align: center;
    margin-top: 10px;
  }
  
  .text-center a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }
  


  .registro-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column; 
  }
  
  .form-container {
    width: 100%;
    max-width: 320px; 
    margin: 0 auto; 
    padding: 16px; 
    margin-top: 30%; 
  }
  
  ion-card {
    width: 100%;
  }
  
  ion-card-header, ion-card-content {
    padding: 16px;
  }
  
  .text-center {
    text-align: center;
    margin-top: 10px;
  }
  
  .text-center a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }
  

  ion-item {
    --padding-start: 0;
    --padding-end: 0;
  }
  
  
  
  